.header{
    height: 40px;
    background-color: #252525;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.nav a{

    text-decoration: none;
    color: snow;
    font-size: 20px;
}
.nav a[class='active']{
    color: red;
}
.link_movies{
    position: absolute;
    top: 10px;
    left: 20px;
}
