.movies{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 5px;
    justify-content: center;
}
.buttons{
    display: flex;
    position: absolute;
    top: 10px;
    left: 100px;
}
